@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}


  .header_h1 {
    visibility: hidden;
  }
  .wrapper {
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
  }
  header {
    height: 90px;
  }
  .menu {
    padding: 25px 514px 25px 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  .menu .menuItem .menuLink {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    line-height: 21px;
    opacity: 0.8;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
  }
 
  .menu li:hover a:hover {
    border-bottom: 1px #ffffff solid;
    opacity: 1;
    color: #ffffff;
  }

body {
    background: url("/ShtMVC/resources/images/BackHeader.png") center center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
}

ul.list{
    list-style: none;
  }
  .list li {
    display: inline-block;
  }

.mainText h1 {
    padding-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 85px;
  }
  
.mainText h1:hover{
  color: #000;
  }

.mainText h2 { 
	color: #ffffff; 
	font-family: ‘Raleway’,sans-serif; 
	font-size: 30px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 24px; 
	text-align: center; 
  }

img {
	
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
}

label {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

#userinfo a href {
	line-height: 105px;
	margin-left: 15px;
	
}

#mainTable{
	max-width:50%;
	float:left;
	margin: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 1000px;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #3E4347;
}

#mainTable th {
  font-weight: normal;
border-bottom: 2px solid #F5E1A6;
border-right: 20px solid white;
border-left: 20px solid white;
padding: 8px 10px;
}

#mainTable td {
  border-right: 20px solid white;
border-left: 20px solid white;
padding: 12px 10px;
color: #8b8e91;
}

#mainTable th:first-child, .table_col td:first-child {
color: #F5F6F6;
border-left: none;
}

#photos a:href{ 
	margin: 100 px;
	
}

#header a:hover {
    color: #000;
}

.clear {
    clear: both;
}

#footer { /* # == id */
    background-color: black;
    width: 100%;
    float: left;
    height: 140px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
    overflow: hidden;
}

#footer a {
    color: inherit;
}

    input[type=text] {
        color: #9F0013;
        background-color: #BBBBBB;
    }
    
    textarea {
        color: #9F0013;
        background-color: #BBBBBB;
}



